@import 'tailwindcss';

:root {
  background-color: #222;
}

@theme {
  --color-eerie: #222222;
  --color-eerie-black: #191716;
  --color-persian: #bb342f;
  --color-naples: #f9db6d;
  --color-viridian: #417b5a;
  --color-vista: #9dacff;
}
